body {
  background-color: #f0e3ff;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 15%;
  color: white;
  border-width: 6px;
}

h1 {
  color: #02a8a8;
}

h3 {
  color: #02a8a8;
}
