

body {
  background-color: #bbe1fa;

}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 15%;
  color: white;
  border-width: 5px;
}

h1{
color: #66BFBF;

}

h3{
color: #66BFBF;

}
